img
{
    width: 370px;
    height: 370px;
    border-radius: 50%;
}
.footer
{
    background-color: #CC9999;
    height: 50px;
}
.footer p
{
    margin-top: -11px;
    color: #fff;
}
